GCP_PROJECT_ID=your-project-id
GCP_REGION=us-central1
GCS_BUCKET_NAME=pronabec-data-lake

BQ_BRONZE_DATASET=bronze
BQ_SILVER_DATASET=silver
BQ_GOLD_DATASET=gold
BQ_AUDIT_DATASET=audit
BQ_ML_DATASET=ml

LOG_LEVEL=INFO